<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button mode="ios" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="resetForm">
    <ion-row class="ion-justify-content-center">
      <ion-col style="padding-top: 60px" size="11">
        <ion-item lines="none" class="itemCont">
          <ion-input formControlName="email" type="email" placeholder="Email"></ion-input>
        </ion-item>
        <div style="padding-top: 20px">
          <ion-button [disabled]="resetForm.invalid" (click)="resetPassword()" color="primary" type="submit" expand="block">Send Reset Email</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </form>
</ion-content>

