<ion-header>
    <ion-toolbar mode="ios">
        <ion-buttons slot="start">
            <ion-back-button mode="ios" text=""></ion-back-button>
        </ion-buttons>
        <ion-title>Privacy</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row class="ion-justify-content-center">
        <ion-col size="12">
            <ion-card>
                <ion-item lines="none">
                    <p> A privacy policy is a legal document that informs your site’s users about how you collect and
                        handle
                        their personal information. You may also hear privacy policies referred to by the following
                        names:</p>
                </ion-item>
                <ul>
                    <li>Privacy notice</li>
                    <li>Privacy policy statement</li>
                    <li>Privacy page</li>
                    <li>Privacy clause</li>
                    <li>Privacy agreement</li>
                </ul>
                <ion-item lines="none">
                    <p>A general privacy policy explains a platform’s interactions with the personal information and
                        personally
                        identifiable information (PII) of its users. PII is information that can be used by itself, or
                        combined
                        with other information, to identify an individual.</p>
                </ion-item>
                <ion-item lines="none">
                    <p>If your website uses personal information (e.g, collected names, email address, or credit card
                        information), most legislations around the world require that you have a privacy policy.</p>
                </ion-item>
                <ion-item lines="none">
                    <p>If you run a website, mobile app, or desktop app, you are likely legally required to have a
                        privacy
                        policy somewhere on your site. You must display links to your policy clearly, prominently, and
                        conspicuously, so that users can navigate to it quickly and easily.</p>
                </ion-item>
            </ion-card>
        </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
        <ion-col size="11">
            <ion-button (click)="goBack()" expand="block">Agree</ion-button>
        </ion-col>
    </ion-row>
</ion-content>
