ion-content {
  --background: #fafafa;
  --padding-top: 1.5em;
  --padding-bottom: 1em;
  --color: var(--ion-color-dark);

  .questionCard {
    text-transform: capitalize;
    margin: 10px -10px 0px -10px;
    box-shadow: #bababa;
    border-radius: 15px;
  }
  .question {
    width: 100%;
    color: #fafafa;
    border-radius: 20px 20px 20px 20px;
    padding: 10px 0px 5px 0px;
    background-color: #fafafa;
  }
  .withdrawCard {
    border-radius: 15px;
    margin: 20px 0px 0px 0px;
    box-shadow: none;
    --background: white;
    padding: 20px 0px 35px 0px;
    --color: #22215B;
    min-height: 30vh;

    .inputItem {
      --min-height: 44px;
      --background: #FAFAFA;
      border: 1px solid #e2dfdf;
      --border-radius: 7px;
      border-radius: 7px;
      --padding-start: 15px;
      --padding-end: 15px;
      --inner-padding-end: 0px;
      margin-top: 5px;
      width: 100%;
    }

    .qInputCont {
      --min-height: 55px;
      --background: #FAFAFA;
      border: 1px solid #e2dfdf;
      --border-radius: 7px;
      border-radius: 7px;
      --padding-start: 15px;
      --padding-end: 15px;
      --inner-padding-end: 0px;
      margin-top: 15px;
    }

    .inputCont {
      --min-height: 55px;
      --background: #FAFAFA;
      border: 1px solid #e2dfdf;
      --border-radius: 7px;
      border-radius: 7px;
      --padding-start: 15px;
      --padding-end: 15px;
      --inner-padding-end: 0px;
      margin-top: 15px;

      ion-label {
        margin: 0px;
        font-size: 13px;
        font-weight: bold;
      }

      ion-input {
        font-size: 14px;
        --color: #22215B;
        --padding-end: 0px;
        --padding-top: 10px;
        --padding-bottom: 10px;
      }
    }
  }

  .userImg {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
  }

  .itemCont {
    --padding-start: 15px;
    --padding-end: 15px;
    --inner-padding-end: 0px;
    --min-height: 55px;
    --border-radius: 8px;
    border-radius: 8px;
    margin-top: 15px;

    .itemIcon {
      color: var(--ion-color-primary);
      font-size: 23px;
      margin-right: 15px;
    }

    ion-icon:last-child {
      margin: 0px 0px 0px 10px;
      color: #D2D2D2;
      font-size: 20px;
    }
  }
}
