<ion-header>
    <ion-toolbar mode="ios">
        <ion-buttons>
            <ion-back-button mode="ios" text=""></ion-back-button>
        </ion-buttons>
        <ion-title>Notifications</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row class="ion-justify-content-center">
        <ion-col size="11">
            <ion-item detail="false" lines="none" class="itemCont">
                <ion-icon slot="start" class="itemIcon" name="notifications"></ion-icon>
                <p class="my-0 font-14">data base quiz on 24 december 2020.</p>
                <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
            </ion-item>
            <ion-item detail="false" lines="none" class="itemCont">
                <ion-icon slot="start" class="itemIcon" name="notifications"></ion-icon>
                <p class="my-0 font-14">AI quiz on 30 Dec 2020.</p>
                <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
            </ion-item>
            <ion-item detail="false" lines="none" class="itemCont">
                <ion-icon slot="start" class="itemIcon" name="notifications"></ion-icon>
                <p class="my-0 font-14">Ionic development quiz on 5 january 2021.</p>
                <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
            </ion-item>
            <ion-item detail="false" lines="none" class="itemCont">
                <ion-icon slot="start" class="itemIcon" name="notifications"></ion-icon>
                <p class="my-0 font-14">4 quize are coming next weak.</p>
                <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
            </ion-item>
            <ion-item detail="false" lines="none" class="itemCont">
                <ion-icon slot="start" class="itemIcon" name="notifications"></ion-icon>
                <p class="my-0 font-14">data base quiz on 24 december 2020.</p>
                <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
            </ion-item>
            <ion-item detail="false" lines="none" class="itemCont">
                <ion-icon slot="start" class="itemIcon" name="notifications"></ion-icon>
                <p class="my-0 font-14">AI quiz on 30 Dec 2020.</p>
                <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
            </ion-item>
            <ion-item detail="false" lines="none" class="itemCont">
                <ion-icon slot="start" class="itemIcon" name="notifications"></ion-icon>
                <p class="my-0 font-14">Ionic development quiz on 5 january 2021.</p>
                <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
            </ion-item>
            <ion-item detail="false" lines="none" class="itemCont">
                <ion-icon slot="start" class="itemIcon" name="notifications"></ion-icon>
                <p class="my-0 font-14">4 quize are coming next weak.</p>
                <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
            </ion-item>
        </ion-col>
    </ion-row>
</ion-content>
