ion-content {
  --background: #fafafa;
  --padding-top: 1.5em;
  --padding-bottom: 1em;
  --color: var(--ion-color-dark);

  .userImg {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    object-fit: cover;
  }

  .itemCont {
    --padding-start: 15px;
    --padding-end: 15px;
    --inner-padding-end: 0px;
    --min-height: 55px;
    --border-radius: 8px;
    border-radius: 8px;
    margin-top: 15px;

    .itemIcon {
      color: var(--ion-color-primary);
      font-size: 23px;
      margin-right: 15px;
    }

    ion-icon:last-child {
      margin: 0px 0px 0px 10px;
      color: #D2D2D2;
      font-size: 20px;
    }
  }
}
.bottom-right {
  position: absolute;
  bottom: 5%;
  right: 5%;
}

.profile-picture {
  width: 60px;
  height: 60px;
  border-color: #737373;
  border-radius: 50%;
}
.border{
  box-shadow: none !important;
}

.star{
  color: #a2a4ab;
}

.fullheight {
  height: 100%;
}
.profile{
  padding-left: 10px;
  padding-top: 15px;
}
.xc {
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-color{
  color: #bababa;
}

