<ion-header>
    <ion-toolbar mode="ios">
        <ion-buttons slot="start">
            <ion-back-button mode="ios" text=""></ion-back-button>
        </ion-buttons>
        <ion-title>Terms & Conditions</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row class="ion-justify-content-center">
        <ion-col size="12">
            <ion-card>
                <h4 class="alignText">Terms and Conditions of Quiz App</h4>
                <h5 class="alignText">Introduction</h5>
                <p class="alignText"> These Website Standard Terms and Conditions written on this webpage shall manage
                    your use
                    of our website, Webiste Name accessible at Website.com.</p>
                <p class="alignText">These Terms will be applied fully and affect to your use of this Website. By using
                    this
                    Website, you agreed to accept all terms and conditions written in here. You must not use this
                    Website if you
                    disagree with any of these Website Standard Terms and Conditions.</p>
                <h5 class="alignText">Intellectual Property Rights</h5>
                <p class="alignText">Other than the content you own, under these Terms, Company Name and/or its
                    licensors own
                    all the intellectual property rights and materials contained in this Website.</p>
                <p class="alignText">You are granted limited license only for purposes of viewing the material contained
                    on this
                    Website.</p>
                <h5 class="alignText">Restrictions</h5>
                <p class="alignText">You are specifically restricted from all of the following:</p>
                <p class="li">1. Publishing any Website material in any other media.</p>
                <p class="li">2. Selling, sub-licensing and/or otherwise commercializing any Website material.</p>
                <p class="li">3. Publicly performing and/or showing any Website material.</p>
                <p class="li">4. Using this Website in any way that is or may be damaging to this Website.</p>
                <p class="li">5. Using this Website in any way that impacts user access to this Website.</p>
                <p class="li">6. Using this Website contrary to applicable laws and regulations, or in any way may cause
                    harm to
                    the Website, or to any person or business entity.</p>
                <p class="li">7. Engaging in any data mining, data harvesting, data extracting or any other similar
                    activity in
                    relation to this Website.</p>
                <p class="li">8. Using this Website to engage in any advertising or marketing.</p>
            </ion-card>
        </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
        <ion-col size="11">
            <ion-button (click)="goBack()" expand="block">Agree</ion-button>
        </ion-col>
    </ion-row>
</ion-content>
